<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgPH4xtLO7cyUD5QjedqMMqIa7imF3L-U</string>
	<key>GCM_SENDER_ID</key>
	<string>56297030289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vivafifa.app</string>
	<key>PROJECT_ID</key>
	<string>vivafifa2026</string>
	<key>STORAGE_BUCKET</key>
	<string>vivafifa2026.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56297030289:ios:a9438f1d44dbde33a9b530</string>
</dict>
</plist>